@import "_function";

 /*login body*/
.login-form {
	position:absolute;
  right:20px;
  left:20px;
}
 

 /*content*/
/*padding:80px 0;*/
.content{background:#f7f7f7;}

.wrap{border:1px solid #d3d3d3;overflow:hidden;background:#ffffff;}
.left-side{width:548px;float:left;border-right:1px solid #d3d3d3;}
.right-side{
	width:652px;
	float:left;
	padding-left:150px;
	padding-right:128px;
	box-sizing:border-box;
}
.content .left-side img{margin:115px 0 150px 88px;}
.form-title h3{
	margin-top:40px;
	text-align:center;
	font-weight:normal;
	height:58px;
	line-height:58px;
	border-bottom:2px solid #c3c3c3;
}

form .group{margin-top:30px;position:relative;}
form .group input{
	width:100%;
	height:50px;
	border:1px solid #d7d7d7;
	border-radius:3px;
	padding-left:18px;
	font-size:16px;
}
.check{overflow:hidden;margin-top:12px;}
.check>p{float:left;}
.check>a{float:right;}
.right-side .btn a,
.right-side .btn button{
	display:inline-block;cursor:pointer;width:100%;
	height:50px;
	font-size:18px;
	color:#5caab4;
	line-height:50px;
	text-align:center;border:1px solid #5caab4;
	border-radius:3px;margin:28px 0 0;
}
.right-side .btn a:hover,.right-side .btn button:hover{
	width:100%;
	height:50px;
	background:#5caab4;
	border-radius:3px;
	color:#ffffff;
}
.group p label.error{
	position:absolute;
	height:50px;
	top:0;
	right:10px;
	line-height:50px;
	color:red;
	font-size:14px;
}
.group input.error{border:1px solid red;}