<h1 id="sasscore%203.0%E2%80%94%E2%80%94just%20for%20better">sassCore 3.0——Just for Better</h1>
<p>sassCore参考了<a href="http://compass-style.org/">compass</a>和<a href="http://bourbon.io/">bourbon</a>等众多优秀的sass库，根据项目实践，归纳总结而成，一直以来为了更好而不断完善。</p>
<p>sassCore提供了一些基础和常用的东西，基于它你可以扩展出很多组件等，如果你对这个有兴趣，可以参考下基于sassCore的<a href="http://tobe.w3cplus.com">tobe</a>。</p>
<h2 id="%E5%A6%82%E4%BD%95%E4%BD%BF%E7%94%A8%EF%BC%9F">如何使用？</h2>
<p>sassCore分核心文件和扩展文件两种。其中核心文件提供一些基础的样式和<code>@mixin</code>，<code>%</code>等方便调用；而扩展文件则提供一些模块的样式，如<code>form</code>，<code>table</code>等。</p>
<p>详细使用文档请移步：<a href="http://w3cplus.com/sasscore/index.html">w3cplus sassCore</a></p>
<h3 id="%E6%A0%B8%E5%BF%83%E6%96%87%E4%BB%B6%E8%B0%83%E7%94%A8">核心文件调用</h3>
<p>第一种除提供基础功能外，会产生一份reset样式：</p>
<pre><code><span class="hljs-at_rule">@<span class="hljs-keyword">import</span> <span class="hljs-string">"d:/sassCore/base"</span></span>;
</code></pre><p>第二种不产生任何样式，只提供功能的调用：</p>
<pre><code><span class="hljs-at_rule">@<span class="hljs-keyword">import</span> <span class="hljs-string">"d:/sassCore/function"</span></span>;
</code></pre><h3 id="%E6%89%A9%E5%B1%95%E6%96%87%E4%BB%B6%E8%B0%83%E7%94%A8">扩展文件调用</h3>
<p>根据需要调用，以table为例：</p>
<pre><code><span class="hljs-at_rule">@<span class="hljs-keyword">import</span> <span class="hljs-string">"d:/sassCore/ext/table"</span></span>;
</code></pre><p>注：因为sass不能导入在线sass文件，而sassCore也没有提供安装版的使用，所以默认统一放在D盘进行调用。</p>
<h2 id="%E4%BA%94%E5%A4%A7%E7%89%B9%E7%82%B9%EF%BC%9A">五大特点：</h2>
<ul>
<li>sassCore涵盖范围广。核心文件有setting，css3，media-queries，mixin，grid，reset；扩展文件有animate，font-face，btn，message，form，table，helps，typography；除此之外还有两个集合文件function和base。</li>
<li>sassCore对兼容采用了开关控制机制。如对是否支持ie6/7可以通过设置为true或false以生成对应的代码。</li>
<li>sassCore严格控制样式冗余累赘。使用开关变量做到需要什么样式就加载什么样式，按需开启，避免样式冗余累赘。</li>
<li>sassCore设计了两种调用方式，一种是只调用功能，不产生任何多余的css代码；另一种是包含了些重置样式。为团队的合作开发提供了良好的解决方案。</li>
<li>sassCore借鉴优秀的作品，根据实战创造新的方法，紧跟前沿，每一个文件都是经过深思熟虑，几易其稿，在实用和卓越上狠下功夫。</li>
</ul>
<h2 id="%E6%96%87%E4%BB%B6%E7%AE%80%E8%BF%B0">文件简述</h2>
<p>sassCore包括两个集合文件（base，function）和两个文件夹（core，ext）。其中core文件夹中为核心基础文件，包括setting，css3，media-queries，mixin，grid，reset；而ext文件夹中是一些扩展文件，包括animate，font-face，btn，message，form，table，typography，helper。</p>
<p>两个集合文件（base，function）导入的都是core中的文件，区别在于base除了提供基本功能之外还会生成一份reset样式，而function则只提供基本功能。至于ext中的文件则属于额外的一些模块扩展，可根据需求导入。</p>
<h3 id="core%E6%96%87%E4%BB%B6">core文件</h3>
<h4 id="setting">setting</h4>
<p>负责基础变量的文件，如常用的颜色，字体等变量。</p>
<h4 id="css3">css3</h4>
<p>负责css3属性前缀的文件。参考了<a href="http://bourbon.io/">bourbon</a>，然后进行一系列的扩展及优化，以使解析出来的代码更加合理。</p>
<h4 id="media-queries">media-queries</h4>
<p>负责响应式宽度判断的文件。主要是对响应式布局的一些宽度判断，来自paranoida的<a href="https://github.com/paranoida/sass-mediaqueries">sass-mediaqueries</a>。</p>
<h4 id="mixin">mixin</h4>
<p>负责功能方面的文件。这里我们大概分成三个部分，一个是混合部分即mixin，一个是placeholder选择器部分即%，最后就是我们的function函数部分。我们常用的include及extend当然就是来自于这里了。</p>
<h4 id="grid">grid</h4>
<p>负责网格系统的文件。默认为固定宽度布局（1000px），可以通过设置$gridPercentSwitch为true来切换为流体布局，也可以通过设置$gridSpanSwitch为true或false来控制是否输出各个网格的class。</p>
<h3 id="reset">reset</h3>
<p>在<a href="http://necolas.github.io/normalize.css/">normalize</a>的基础上，根据目前我们大家的使用习惯进行了一些归零行动，及设置文字字体颜色，是否输出打印样式。</p>
<h3 id="ext%E6%96%87%E4%BB%B6">ext文件</h3>
<h4 id="animate">animate</h4>
<p>将<a href="http://daneden.github.io/animate.css/">animate.css</a>转成scss版本，默认不输出任何样式，需要什么动画先导入对应的动画文件，然后include调用即可。</p>
<h4 id="font-face">font-face</h4>
<p>来自<a href="http://fontawesome.io/">Font Awesome</a>的字体图标，可以根据自己的需求使用其他字体图标，默认不输出任何class，可根据实际需求输出其中的某些icon。参考了大漠的<a href="https://github.com/airen/w3cplusSass/tree/master/lib/module/font-awesome">font-awesome</a>模块</p>
<h4 id="btn">btn</h4>
<p>为按钮设计的文件，里面定义了一系列mixin，可用于自定义按钮，默认生成两种按钮</p>
<h4 id="message">message</h4>
<p>交互提示信息，包括警告，错误，成功，提示四种状态的样式</p>
<h4 id="form">form</h4>
<p>提供了表单元素样式及几种常见的表单组合样式，可通过变量控制输出</p>
<h4 id="table">table</h4>
<p>提供几种常用的表格样式，可通过变量来控制输出</p>
<h4 id="helper">helper</h4>
<p>常用的几个class，可以根据自己的喜好定义。</p>
<h4 id="typography">typography</h4>
<p>负责文字排版的文件。这里主要考虑到文章详细页和其他页面的一些不同情况而给详细页加入了article这个class，里面的一些元素如ul，li，p给予一定的样式，而不是清零。</p>
